textarea {
  min-height: 400px;
}

.email-line {
  border-bottom: 1px solid #ddd;
  padding: 4px;
}

.email-line:hover {
  border-bottom: 1px solid #fff;
  box-shadow: 0px 0px 4px 2px #ccc;
  position: relative;
  z-index: 1;
}

.unread {
  background-color: #eee;
}

.unread:hover {
  border-bottom: 1px solid #eee;
}