{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
<h1 class="mt-2 mb-4">Email Client</h1>
<header>
    <nav>
        <button class="btn btn-sm btn-outline-warning" id="inbox">Inbox</button>
        <button class="btn btn-sm btn-outline-warning" id="compose">Compose</button>
        <button class="btn btn-sm btn-outline-warning" id="sent">Sent</button>
        <button class="btn btn-sm btn-outline-warning" id="archived">Archived</button>
        <a class="btn btn-sm btn-outline-warning" href="{% url 'logout' %}">Log Out</a>
    </nav>
    <p>Logged in as: <span id="user-email">{{ request.user.email }}</span></p>
</header>
<hr>

<div role="alert"></div>

<div id="show-email">
</div>

<div id="emails-view">
</div>

<div id="compose-view">
    <h5>New Email</h5>
    <form id="compose-form">
        <div class="form-group">
            From: <input disabled class="form-control" value="{{ request.user.email }}">
        </div>
        <div class="form-group">
            To: <input id="compose-recipients" class="form-control">
        </div>
        <div class="form-group">
            <input class="form-control" id="compose-subject" placeholder="Subject">
        </div>
        <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
        <input type="submit" class="btn btn-warning" />
    </form>
</div>

{% endblock %}

{% block script %}
<script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}